<h1 class="p-3 text-center alert-primary">Ng-ReactiveForm</h1>
<div class="container">
  <div class="row">
      <div class="col-md-8 offset-md-2 text-capitalize">
        <div class="card card-body mt-4">
        <h3 class="text-center he">Signup form</h3>
        <form [formGroup]="signupForm" (ngSubmit)="onsignup()">


          <div class="form-group">
            <label for="username"> <strong>Username<sup>*</sup></strong></label>
            <input type="text" formControlName="username" class="form-control" id="username">
            <span *ngIf="f['username'].touched && f['username'].hasError('required')">
              <strong> username is required field</strong>
            </span>

            <ng-container *ngIf="username.dirty">
              <span *ngIf="username.hasError('pattern')">
                <strong> please enter valid value </strong>
              </span>

              <span *ngIf="username.hasError('minlength')">

                <strong>username minimum length should be

                  {{username.errors?.['minlength'].requiredLength}}

                  and actual length is
                  {{username.errors?.['minlength'].actualLength}}
                </strong>
              </span>


              <span *ngIf="username.hasError('maxlength')">
                <strong>
                  username max length should be

                  {{username.errors?.['maxlength'].requiredLength}}
                  and actual length is


                  {{username.errors?.['maxlength'].actualLength}}
                </strong>
              </span>


              <span *ngIf="username.hasError('npsapceerr')">

                <strong> {{username.errors?.['npsapceerr']}}</strong>

              </span>

            </ng-container>
          </div>

          <div class="form-group">
            <label for="email"><strong>Email <sup>*</sup></strong></label>
            <input type="text" formControlName="email" class="form-control" id="email">
            <span *ngIf="f['email'].touched && f['email'].hasError('required')">
              <strong>Email is the required field</strong>
            </span>
            <span *ngIf="f['email'].dirty && f['email'].hasError('pattern')">
              <strong>Please Enter valid Email id</strong>
            </span>
            <div class="text-primary" *ngIf="f['email'].pending">
              <div class="spinner-border text-primary mt-2" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              Checking Email
            </div>
            <span *ngIf="f['email'].dirty && f['email'].hasError('emailExistErr')">
              <strong>
                {{f['email'].errors?.['emailExistErr']}}
              </strong>
            </span>
            <span class="color-green" *ngIf="f['email'].valid">
              <strong>
                This Email id is available 
              </strong>
            </span>
          </div>

          <div class="form-group">
            <label for="empid"><strong>Empid<sup>*</sup></strong></label>
            <input type="text" placeholder="E126" formControlName="empid" class="form-control">
            <span *ngIf="f['empid'].dirty && f['empid'].hasError('required')">
              <strong> Empid is a required field</strong>
            </span>
            <span *ngIf="f['empid'].dirty && f['empid'].hasError('invalidEmpId')">
              {{f['empid'].errors?.['invalidEmpId']}}
            </span>
          </div>
          <p><strong>Gender <sup>*</sup></strong></p>
          <div class="form-group">
            <label for="male" class="ml-2">
              <input type="radio" formControlName="gender" value="male" id="male">
              Male
            </label>
            <label for="female" class="ml-2">
              <input type="radio" formControlName="gender" value="female" id="male">
              female
            </label>
            <label for="others" class="ml-2">
              <input type="radio" formControlName="gender" value="Others" id="male">
              Others
            </label>
          </div>
          <div formArrayName="skills">
            <h4>Skills :-</h4>
            <div class="row mb-4" *ngFor="let skill of skillsformArr.controls; let i = index">
              <div class="col-md-9">
                <input type="text" class="form-control" [formControlName]="i">
                <span *ngIf='skill.touched && skill.hasError("required")'>
                  <strong>Skills is the required field</strong>
                </span>
              </div>
              <div class="col-md-3" *ngIf="i > 0">
                <button class="btn btn-outline-danger" type="button" (click)="onremoveskill(i)">
                  <strong>Remove</strong>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button class="btn btn-outline-primary mb-3" [disabled]="skillsformArr.length >= 5" (click)="onaddskill()"
                  type="button"><strong>Add Skill</strong>
                </button>
                <p class="alert alert-info " *ngIf="skillsformArr.length<5">
                  you can add only 5 skills
                </p>
              </div>
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="col-md-6" formGroupName="currentAddress">
              <h4 class="text-center">Current Address</h4>
              <div class="form-group">
                <!-- <input type="text" formControlName="country" 
                  class="form-control" placeholder="Country"> -->
                <select class="form-control" formControlName="country">
                  <option value="">Select Country</option>
                  <option [value]="con.Country" *ngFor="let con of coutryInfo">
                    {{con.Country}}
                  </option>
                </select>
                <span
                  *ngIf="f['currentAddress'].get('country')?.touched && f['currentAddress'].get('country')?.hasError('required')">
                  <strong>Country is a required field. </strong>
                </span>
              </div>
              <div class="form-group">
                <input type="text" formControlName="state" class="form-control" placeholder="State">
                <span
                  *ngIf="f['currentAddress'].get('state')?.touched && f['currentAddress'].get('state')?.hasError('required')">
                  <strong>State is a required field. </strong>
                </span>
              </div>
              <div class="form-group">
                <input type="text" formControlName="city" class="form-control" placeholder="City">
                <span
                  *ngIf="f['currentAddress'].get('city')?.touched && f['currentAddress'].get('city')?.hasError('required')">
                  <strong>City is a required field. </strong>
                </span>
              </div>
              <div class="form-group">
                <input type="text" formControlName="zipcode" class="form-control" placeholder="Zipcode">
                <span
                  *ngIf="f['currentAddress'].get('zipcode')?.touched && f['currentAddress'].get('zipcode')?.hasError('required')">
                  <strong>Zipcode is a required field. </strong>
                </span>
              </div>
            </div>
            <div class="col-md-6" formGroupName="permanentAddress">
              <h4 class="text-center">Permanent Address</h4>
              <div class="form-group">
                <!-- <input type="text" formControlName="country" 
                  class="form-control" placeholder="Country"> -->
                <select class="form-control" formControlName="country">
                  <option value="">Select Country</option>
                  <option [value]="con.Country" *ngFor="let con of coutryInfo">
                    {{con.Country}}
                  </option>

                </select>
                <span
                  *ngIf="f['permanentAddress'].get('country')?.touched && f['permanentAddress'].get('country')?.hasError('required')">
                  <strong>Country is a required field. </strong>
                </span>
              </div>
              <div class="form-group">
                <input type="text" formControlName="state" class="form-control" placeholder="State">
                <span
                  *ngIf="f['permanentAddress'].get('state')?.touched && f['permanentAddress'].get('state')?.hasError('required')">
                  <strong>State is a required field. </strong>
                </span>
              </div>
              <div class="form-group">
                <input type="text" formControlName="city" class="form-control" placeholder="City">
                <span
                  *ngIf="f['permanentAddress'].get('city')?.touched && f['permanentAddress'].get('city')?.hasError('required')">
                  <strong>City is a required field. </strong>
                </span>
              </div>
              <div class="form-group">
                <input type="text" formControlName="zipcode" class="form-control" placeholder="Zipcode">
                <span
                  *ngIf="f['permanentAddress'].get('zipcode')?.touched && f['permanentAddress'].get('zipcode')?.hasError('required')">
                  <strong>Zipcode is a required field. </strong>
                </span>
              </div>
            </div>

            <div class="col-12 mb-2">
              <label for="isAddSame">
                <input type="checkbox" formControlName="isAddSame" id="isAddSame">
                <strong class="ml-1">permanent address is same as current address </strong>
              </label>
            </div>
          </div>



          <div class="form-group">
            <label for="password"><strong>Password <sup class="color">*</sup></strong></label>
            <input type="text" class="form-control" formControlName="password" id="password" placeholder="P@ssw0rd1!">
            <span class="color" *ngIf="f['password'].touched && f['password'].hasError('required')">
              <strong>Password is the required field.</strong>
            </span>
            <span class="color" *ngIf="f['password'].dirty && f['password'].hasError('pattern')">
              <strong>Please enter valid password</strong>
            </span>
          </div>
          <div class="form-group">
            <label for="confirmPassword"><strong>Confirm Password <sup class="color">*</sup></strong></label>
            <input type="text" class="form-control" formControlName="confirmPassword" id="confirmPassword">
            <span class="color" *ngIf="f['confirmPassword'].dirty && f['confirmPassword'].hasError('passAndConfErr')">
              <strong>
                {{f['confirmPassword'].errors?.['passAndConfErr']}}
              </strong>
            </span>
          </div>
          <button class="btn btn-primary" [disabled]="signupForm.invalid">
            sign up

          </button>

        </form>
      </div>
    </div>
  </div>

</div>